body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eff5f7;
}
        
.content {
    flex: 1;
}

.bg-gradient {
    background-color: #0061f2 !important;
    background-image: linear-gradient(135deg, #0061f2 0%, rgba(105, 0, 199, 0.8) 100%) !important;
}

card-link {
    text-decoration: none;
}

a.card-link {
    text-decoration: none;
}

h3.card-title {
    color: black;
}

.icons {
    padding-right: 8px;
}

.blue {
    color: blue;
}
        
footer {        
    margin-top: auto;
}
