RewriteEngine On

# Rediriger vers index.php si le fichier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]

# Bloquer l'accès aux fichiers sensibles
<FilesMatch "\.(sql|md)$">
    Order allow,deny
    Deny from all
</FilesMatch>
