body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #eff5f7;
}
        
.content {
    flex: 1;
}

card-link {
    text-decoration: none;
}

a.card-link {
    text-decoration: none;
}

h3.card-title {
    color: black;
}

.icons {
    padding-right: 8px;
}

.blue {
    color: blue;
}
        
footer {        
    margin-top: auto;
}
